<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">admin</property>
        <property name="hibernate.connection.password">1234</property>

        <!-- connection pool setting -->
        <property name="hibernate.c3p0.max_size">10</property>
       <property name="hibernate.show_sql">true</property>
       <!-- do we need to state it explicitly?-->
        <mapping class="pet.entities.Department"/>
        <mapping class="pet.entities.Employee"/>
    </session-factory>
</hibernate-configuration>